.root
{
    -fx-background-color:rgb(117, 117, 117);
    -fx-accent: #777777;
}
.menu-bar
{
    -fx-background-color:rgb(53, 53, 53);
    -fx-text-fill:rgb(153, 153, 153);
}
.menu .label
{
    -fx-text-fill:rgb(185, 185, 185);
}
.context-menu
{
    -fx-background-color:rgb(53, 53, 53);
}